@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply max-w-7xl mx-auto;
}
.button {
  @apply btn btn-outline transition border-0 border-b-4 text-black border-[#F4D160] hover:bg-[#F4D160] hover:text-black hover:border-none;
}
.button2 {
  @apply btn btn-sm btn-outline transition border-0 border-b-4 text-black border-[#F4D160] hover:bg-[#F4D160] hover:text-black hover:border-none;
}

.bg-image{
  background-image: url('/src/pages/Login/image/images.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
